page-sent {
	.myview {
		background-image: url('../../assets/imgs/blu.jpg');
				}
	.font-face {
  		font-family: 'comic san ms';
  		src: url('../assets/fonts/LettersforLearners.ttf') format('ttf');
  		font-weight: normal;
  		font-style: normal;
		color: white;
		}
	}

